@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap");

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Lora', serif; */
/* font-family: 'Inconsolata', monospace; */

#light {
  background-color: #fff;
  transition: background-color 0.2s ease-out;
}

#dark {
  background: #050505;
  transition: background-color 0.2s ease-in;
  padding: 0;
  margin: 0;
  /* height: 100vh; */
  min-height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  font-family: Inter;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  width: 736px;
  height: 64px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 450px;
}

.font-type {
  height: 35px;
  width: 120px;
  font-weight: 700;
  font-size: large;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

#dark .font-type {
  color: #fff;
  background-color: #000;
}

.toggle {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.toggle-icon {
  width: 40px;
  height: 25px;
  color: #757575;
  font-size: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#dark .toggle-icon {
  color: #a445ed;
}

.moon-icon {
  fill: #757575;
}

#dark .moon-icon {
  fill: #a445ed;
}

.search-bar {
  width: 736px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: #f4f4f4;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#dark .search-bar {
  background-color: #1f1f1f;
}

.search-field {
  width: 650px;
  height: 50px;
  margin-left: 15px;
  background-color: #f4f4f4;
  border: none;
  outline: none;
  font-size: x-large;
  font-weight: bold;
}

#dark .search-field {
  background-color: #1f1f1f;
  color: #fff;
}

.search-bar button {
  border: none;
  cursor: pointer;
}

#dark .search-bar button {
  background-color: #1f1f1f;
}

.search-icon {
  padding: 15px;
}

.info-section {
  width: 736px;
  height: auto;
  margin-top: 30px;
}

.heading-section {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-top: 0%;
  display: flex;
  flex-direction: column;
}

.heading {
  color: #2d2d2d;
  font-size: 64px;
  font-weight: 700;
  margin-top: 0%;
  margin-bottom: 0%;
}

#dark .heading {
  color: #fff;
}

.speech {
  font-size: 24px;
  font-weight: 400;
  color: #a445ed;
  margin-top: 10px;
}

.play-icon {
  margin-top: 25px;
  cursor: pointer;
}

.noun {
  display: inline-flex;
  height: 29px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  margin-top: 10px;
}

.noun p {
  color: #2d2d2d;
  font-family: Inter;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

#dark .noun p {
  color: #fff;
}

.noun hr {
  width: 656px;
  background-color: #e9e9e9;
}

#dark .noun hr {
  background-color: #3a3a3a;
  height: 1px;
  border: none;
}

.meaning-section h4 {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
}

.meaning-section ul li {
  color: #2d2d2d;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
}

#dark .meaning-section ul li {
  color: #fff;
}

#dark .meaning-section ul li::marker {
  color: #a445ed;
}

.synonyms {
  margin-top: 30px;
}

.synonyms p {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
}

.synonyms p > span {
  color: #a445ed;
  font-weight: 700;
  margin-left: 15px;
}

.verb {
  display: inline-flex;
  height: 29px;
  justify-content: center;
  align-items: center;
  gap: 26px;
  flex-shrink: 0;
}

.verb h4 {
  color: #2d2d2d;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
}

#dark .verb h4 {
  color: #fff;
}

.verb hr {
  width: 656px;
  background-color: #e9e9e9;
}

#dark .verb hr {
  background-color: #3a3a3a;
  height: 1px;
  border: none;
}

.verb-meaning p {
  color: var(--757575, #757575);
  font-size: 20px;
  font-weight: 400;
}

.verb-meaning ul li {
  color: #2d2d2d;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

#dark .verb-meaning ul li {
  color: #fff;
}

#dark .verb-meaning ul li::marker {
  color: #a445ed;
}

.verb-meaning ul > p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

#dark .cross-line {
  background-color: #3a3a3a;
  height: 1px;
  border: none;
}

.footer {
  display: flex;
  align-items: center;
}

.footer p,
a {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  text-decoration-line: underline;
}

.footer a {
  color: #2d2d2d;
  margin-left: 20px;
}

#dark .footer a {
  color: #fff;
}

.footer img {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
